<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="../../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li th:if="${#request.isUserInRole('ADMIN')}"><a href="#" th:href="@{/users}">User</a></li>
                        <li th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}"><a href="#" th:href="@{/customers}">Customer</a></li>
                        <li th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}"><a href="#" th:href="@{/products}">Product</a></li>
                        <li th:if="${#request.isUserInRole('ADMIN')}"><a href="#" th:href="@{/trans/}">Transaction</a></li>
                        <li sec:authorize access="isAuthenticated()" th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}"><a href="#" th:href="@{/logout}" methods="post">Log out</a></li>
                        <li th:if="${!#request.isUserInRole('ADMIN') and !#request.isUserInRole('USER')}"><a href="#" th:href="@{/login}">Log in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
            <!--<div class="jumbotron">-->
                <!--<div class="row text-center">-->
                    <!--<div class="">-->
                        <!--<h2>Coffee Shop</h2>-->
                        <!--<h3>Hola</h3>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row text-center">-->
                    <!--<img src="../../static/images/boot.png" width="200" th:src="@{/images/boot.png}"/>-->
                <!--</div>-->
            <!--</div>-->
    </div>
</div>
</body>
</html>
