<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Coffee Shop</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(transactions)}">
        <h2>Transaction List</h2>
        <table class="table table-striped">
            <tr>

                <th>Time</th>
                <th>Customer Name</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Total</th>

            </tr>
            <tr th:each="trans : ${transactions}">
                <td th:text="${trans.time}">Time</td>
                <td th:text="${trans.customer.firstName}">CustomerName</td>
                <td th:text="${trans.product.name}">Product Name</td>
                <td th:text="${trans.product.price}">Price</td>
                <td th:text="${trans.count}">Count</td>
                <td th:text="${trans.total}">Total</td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Transaction Total In Period</h2>
        <table class="table table-striped">
            <tr>

                <th>Time Period</th>
                <th>Sale Total</th>
                <th>Product Count</th>
            </tr>
            <tr>
                <td>One Month</td>
                <td th:text="${transInMonth}">One Month</td>
                <td th:text="${countInMonth}">One Month</td>
            </tr>
            <tr>
                <td>Three Month</td>
                <td th:text="${transInThreeMonth}">Three Month</td>
                <td th:text="${countInThreeMonth}">One Month</td>
            </tr>
            <tr>
                <td>One Year</td>
                <td th:text="${transInYear}">One Year</td>
                <td th:text="${countInYear}">One Month</td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>