<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwy.proj_425.mapper.CustomerMapper">

    <select id="findAllCus" resultType="com.hwy.proj_425.entities.Customer">
        select * from customer
    </select>

    <select id="getCusById" resultType="com.hwy.proj_425.entities.Customer">
        select * from customer where id=#{id}
    </select>

    <insert id="createCus" parameterType="com.hwy.proj_425.entities.Customer">
        insert into customer
        values (#{id},#{firstName},#{lastName},#{fakeTot},#{avaPoint},#{address})
    </insert>
    <update id="updateCus" parameterType="com.hwy.proj_425.entities.Customer">
        update customer
        set totPoint = #{totPoint}, avaPoint = #{avaPoint}
        where id = #{id}
    </update>
    <delete id="deleteCus" parameterType="java.lang.Integer">
        delete from customer where id=#{id}
    </delete>
</mapper>