<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwy.proj_425.mapper.UserMapper">

    <select id="findAllUsers" resultType="com.hwy.proj_425.entities.User">
        select * from user
    </select>

    <select id="getUserById" resultType="com.hwy.proj_425.entities.User">
        select * from user where id=#{id}
    </select>

    <select id="getUserByName" resultType="com.hwy.proj_425.entities.User">
        select * from user where userName=#{userName}
    </select>

    <insert id="createUser" parameterType="com.hwy.proj_425.entities.User">
        insert into user
        values (#{id},#{firstName},#{lastName},#{privilege},#{userName},#{password},#{role},#{enable})
    </insert>


    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>

</mapper>